<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/nav.ejs') %>

    <h1>To-Do List</h1>

    <%- include('./partials/footer.ejs') %>
</body>
</html>