<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
    <h1>New Item</h1>
    <form action="/items" method="POST">
        <!--  NOTE: the form is pre-populated with values for the server-->
        Title: <input type="text" name="title" /><br />
        Description: <input type="text" name="description" /><br />
        Urgent: <input type="checkbox" name="urgent" /><br />
        Date: <input type="text" name="dueDate" /><br />
        <input type="submit" value="ADD" />
    </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>