:root {
    --light-gray: #f5f5f5;
    --green: #258F68;
    --black: #000000;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
    font-family: futura, san-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .container, .foot {
    flex-shrink: 0;
}

/* -----------------------------NAV----------------------------------------- */

.header {
    position: fixed;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    align-items: center;
    top: 0;
    z-index: 1;
    background-color: var(--light-gray);
    transition: 0.2s ease-in-out;
}

.navHidden {
    transform: translateY(-100px);
}

nav > ol {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    color: var(--black);
    margin-right: 3rem;
}

.header  a {
    text-decoration: none;
    color: var(--black);
}

.logo {
    margin-left: 2.5rem;
    width: 12rem;
    transition: 0.2s ease-in-out;
}

.logo:hover{
    transform: scale(1.1, 1.1);
}

.navLinks {
    margin: 1rem;
}

.navLinks::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--black);
    display: block;
    margin: auto;
    transition: 0.4s ease-in-out;
}

.navLinks:hover::after {
    width: 100%;
}

/* --------------------------------BODY CONTENT---------------------- */

.container {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 9rem 0;
}

.list-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 0 20px;
    margin: 0;
    width: 50vw;
    min-width: 250px;
    background-color: var(--light-gray);
    border-radius: 20px;
    box-shadow: 1px 1px 10px #ddd,
      -1px -1px 10px #ddd,
      1px -1px 10px #ddd,
      -1px 1px 10px #ddd; 
}

.card {
    padding: 20px 20px 20px 20px;
    margin: 5px;
    width: 50vw;
    min-width: 250px;
    background-color: var(--light-gray);
    border-radius: 20px;
    box-shadow: 1px 1px 10px #ddd,
      -1px -1px 10px #ddd,
      1px -1px 10px #ddd,
      -1px 1px 10px #ddd; 
}

.list {
    list-style: none;
}

.list-title {
    font-weight: bold;
}

.fa-plus-square {
    color: var(--green);
    transition: 0.2s ease-in-out;
}

.fa-plus-square:hover {
    transform: scale(1.1, 1.1);
}

.indexItems {
    padding: 0;
    margin: 0;
}

.item-title > a {
    text-decoration: none;
    color: var(--black);
}

.item-title {
    font-weight: bold;
}

.item-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-delete-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.anchor-eye {
    text-decoration: none;
    color: var(--black);
}

.fa-eye {
    position: relative;
    top: 2px;
    cursor: pointer;
    margin-right: 10px;
    padding: 0;
    transition: 0.2s ease-in-out;
}

.fa-eye:hover {
    transform: scale(1.2, 1.2);
}

.edit-btn {
    border: none;
    background-color: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 0;
    transition: 0.2s ease-in-out;
}

.edit-btn:hover {
    transform: scale(1.2, 1.2);
}

.delete-btn {
    position: relative;
    border: none;
    background-color: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: 0.2s ease-in-out;
}

.delete-btn:hover {
    transform: scale(1.2, 1.2);
}

.description {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.urgentDate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.urgent-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.urgent {
    width: 20px;
    height: 20px;
    background-color: #F56E51;
    border-radius: 5px;
    margin-right: 5px;
}

.urgText {
    margin: 0;
    font-size: 14px;
}

.notUrgent {
    width: 20px;
    height: 20px;
    background-color: #D6CFB0;
    border-radius: 5px;
}

.date {
    font-size: 15px;
} 

/* -------------------------------SHOW-------------------------------- */



/* --------------------------------EDIT PAGE------------------------- */

.edit-card {
    width: 50vw;
    min-width: 250px;
    height: 40vh;
    min-height: 440px;
    margin: 50px auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
      -1px -1px 10px #ddd,
      1px -1px 10px #ddd,
      -1px 1px 10px #ddd;  
} 

/* SVG CONTAINER */

.sidebar {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    background-color: var(--light-gray);
}

.edit-illo {
    width: 300px;
} 

/* FORM CONTAINER */

.edit-item {
    width: 45%;
    background: #f9f9f9;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    box-sizing: border-box;
    overflow: auto;
}

.edit-head {
    border-bottom: 2px solid var(--black);;
} 

/* FORMS */

fieldset {
    border: 1px solid #766B2E;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

.edit-u-d {
    display: flex;
    flex-direction: row;
}

.edit-urgent {
    margin-right: 10px;
    width: 100%;
}

.checkbox {
    position: relative;
    right: 4px;
}

.edit-due {
    width: 100%;
}

input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #766B2E;
    box-sizing: border-box;
}

input:focus {
    outline: 0;
    border: 2px solid #BD479B;
}

.edit-update-btn {
    border: 0px;
    background-color: var(--green);
    color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}

.edit-update-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px -5px var(--black);;
}

textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-family: futura, san-serif;
    border: 1px solid #766B2E;
    border-radius: 5px;
    min-width: 195px;
    min-height: 50px;
    max-width: 377px;
    max-height: 375px;
}

textarea:focus {
    outline: 0;
    border: 2px solid #BD479B;
}

/* --------------------------------FOOTER---------------------------- */

.foot {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: var(--light-gray);
}

.footer-logo {
    position: relative;
    left: 21px;
    width: 3.5rem;
}

.foot a {
    text-decoration: none;
    color: var(--black);;
}

.icons {
    list-style: none;
    margin: .2rem;
}

.copyright {
    font-size: 12px;
    margin: .1rem;
} 

/* ----------------------------404------------------------------------ */

.pnf-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pnf {
    width: 100%;
} 

/* ------------------------@ MEDIA------------------------------------- */

@media screen and (max-width: 1100px){
    .edit-card {
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 40vw;
    }

    .sidebar {
        width: 100%;
        height: 40%;
    }

    .edit-illo {
        width: 240px;
    }

    .edit-item {
        height: 60%;
        width: 100%;
    }
}


@media screen and (max-width: 700px){
    body {
        margin: 0;
    }

    .line {
        width: 40px;
        height: 3px;
        background: #000;
        margin: 5px;
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 35%;
    }

    .navList {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        width: 100vw;
        top: 130px;
        right: 250px;
        background-color: #f9f9f9;
        clip-path: circle(200px at 54% -150%);
        transition: all 1s ease-in-out;
    }

    .navList.open {
        clip-path: circle(1000px at 54% -70%);
    }

    .navList li {
        opacity: 0;
    }

    .navList li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .navList li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .navList li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    li.fade {
        opacity: 1;
    }

    .logo {
        margin-left: 20px;
    }

    .list-head {
        width: 80vw;
    }
    
    .card {
        width: 80vw;
    }

    .edit-card {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 80vw;
    }

    .sidebar {
        width: 100%;
        height: 52%;
    }

    .edit-illo {
        width: 410px;
    }

    .edit-item {
        height: 48%;
        width: 100%;
    }

    textarea {
        max-width: 508px;
    }

}

@media screen and (max-width: 500px) {

    .edit-card {
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 80vw;
    }

    .sidebar {
        width: 100%;
        height: 40%;
    }

    .edit-illo {
        width: 240px;
    }

    .edit-item {
        height: 60%;
        width: 100%;
    }

    textarea {
        max-width: 508px;
    }

}